
<div class="chat_content">
  <%  RoomMessage.where(room_id: @room.id).each do |mc| %>
    <%= mc.user.email %> : <b><%= mc.content %></b><br>
  <% end %>
</div>
<div class="chat">
  <%= form_for([@room, @room.room_messages.build], remote: true)  do |m| %>
      <%= m.text_field :content %>
      <%= m.submit 'Send message', id: 'submitMessage' %>
  <% end %>
</div>
