<h1>Room</h1>
Комната номер: <%= @room.id %>

<div>
  <p>Player 1 : <%= @room.player_1.email %></p>
</div>
<div>
  <p>Player 2 : <%= @room.player_2_id %></p>
</div>
<div>
  <p>Player 3 : <%= @room.player_3_id %></p>
</div>
<div>
  <p>Player 4 : <%= @room.player_4_id %></p>
</div>

<div>
 <%= link_to 'Start game', start_game_path %>
</div>
