<h1>Room</h1>
Комната номер: <%= @room.user_id %>

<div>
  <p>Player 1 : <%= @room.player_1_id %> Карти :  <%= @room.player_1_cards%></p>
</div>
<div>
  <p>Player 2 : <%= @room.player_2_id %> Карти :  <%= @room.player_2_cards %></p>
</div>
<div>
  <p>Player 3 : <%= @room.player_3_id %> Карти :  <%= @room.player_3_cards %></p>
</div>
<div>
  <p>Player 4 : <%= @room.player_4_id %> Карти :  <%= @room.player_4_cards %></p>
</div>
